# URL del backend en Render (incluye /api al final)
# Ejemplo: https://bombastic-api.onrender.com/api
# URL del backend en Render (incluye /api al final)
VITE_API_URL=https://bombastic-api-slcc.onrender.com/api
